
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form method="post" asp-action="Register" asp-controller="Home">
    <input type="text" placeholder="UserName..." />
    <input type="password" placeholder="Password..." />
    <button type="submit" value="Submit">Register</button>
</form>

